.container{
    background-color: #2d2d41;
    display: flex;
    margin: 2vh 3.5vw 2vh 3.5vw;
    border-radius: 10px;
    justify-content: space-between;
}
.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 1vw 2vh 1vw;
}
.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2vh 1vw 2vh 1vw;
    width: 100%;
}
.right h1{
    color: #ffffff;
    font-weight: bolder;
    font-size: 22px;
}
.star-rating{
    transform: rotate(180deg); /* CRIME */
}
.star-rating input{
    display: none;
}
.star-rating label{
    font-size: 22px;
    color: #444444;
    font-weight: bolder;
    padding: 10px;
    transition: 0.2s ease-in-out;
    transform: rotate(180deg); /* CRIME2 */
}
.star-rating input:not(:checked) ~ label:hover, .star-rating input:not(:checked) ~ label:hover ~ label, input:checked ~ label{
    color: #ffdd44;
    /* color: #f8ce0b */
}